<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For Sale</title>
    <link type="text/css" rel="stylesheet" href="resources/homeStyle.css">
    <link type="text/css" rel="stylesheet" href="resources/forSale.css">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!-- Bootstrap -->
    <link href="resources/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/bootstrap-3.3.7/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<body>
<div id="page">
    <div id="header">
        <div id="logo">
            <a href="#">
                <img src="resources/images/logo.jpg" alt="The Analog Specialists"/>
            </a>
        </div>
        <div class="navbarLists">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active footerList"><a href="#">Home</a></li>
                    <li role="presentation" class="footerList"><a href="#">For Sale</a></li>
                    <li role="presentation" class="footerList"><a href="#">Help us</a></li>
                    <li role="presentation" class="footerList"><a href="#">About</a></li>
                    <li role="presentation" class="footerList"><a href="#">Contact</a></li>
                    <li role="presentation" class="footerList"><a href="#">Log In</a></li>
                    <li role="presentation" class="footerList"><a href="#">Registration</a></li>

                </ul>

            </div>
            <div class="col-lg-6" id="searchBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div>
    </div>

    <div id="container">

        <div id="animalGallery">
            <ul class="nav nav-pills">
                <li role="presentation" class="imgList"><img class="imgList"
                                                             src="resources/images/panda.png" alt="panda">
                    <div class="description">Lorem ipsum dolor sit amet, nec dolor vestibulum turpis quis, risus
                        porttitor velit venenatis dictum, ac nibh, consectetuer ac ornare dignissim nullam, nullam
                        imperdiet lacus nunc quam et vitae. Odio ut magna lectus quam nisl non. Malesuada lectus
                        volutpat. A porttitor quaerat sed, fusce odio, id ac rhoncus, nesciunt eros risus fermentum. Nam
                        blandit vitae eleifend ante ad etiam, rhoncus dolor non faucibus interdum, tempor suspendisse
                        suspendisse, nulla luctus egestas nisl mollis, suspendisse sed. Rutrum sapien porta adipiscing.
                        Egestas nulla, etiam urna, sociosqu scelerisque, sem enim dignissim.
                        Tempus tempor vel condimentum, blandit necessitatibus integer lectus mauris sodales, dui non
                        tincidunt dui tincidunt ligula non. Nunc massa convallis non quisque, senectus cras, etiam
                        tellus facilisis suscipit. Mauris tempor egestas enim ad ullamcorper, lacus lobortis tortor
                        risus amet aliquam, quis nunc pede vel. Adipiscing torquent viverra massa. Volutpat mauris
                        praesent pede non, tortor potenti et arcu quasi est, pede ut dictum, vitae leo posuere lorem
                        aliquam placerat. Molestie quis purus a, massa aliquam placerat potenti eleifend, viverra
                        bibendum vel accumsan ipsum magna.
                        Varius et eu. Nunc ut etiam, tristique volutpat urna quam amet, eget nulla. Egestas est id in,
                        vivamus nullam metus. Tortor vestibulum quam suspendisse urna ipsum turpis, cras turpis eros
                        justo blandit, felis fringilla nisl curae ante sed, in integer, malesuada sed eget rutrum.
                        Aliquam placerat dictum sit justo, amet suspendisse magna libero eu optio mi. Explicabo tempor
                        non nunc egestas, lacus risus, nunc dictumst quisque pharetra, at litora vulputate magna a urna
                        ullamcorper.
                    </div>
                </li>
                <li role="presentation" class="imgList"><img class="imgList" src="resources/images/ape.png"
                                                             alt="ape">
                    <div class="description">Lorem ipsum dolor sit amet, nec dolor vestibulum turpis quis, risus
                        porttitor velit venenatis dictum, ac nibh, consectetuer ac ornare dignissim nullam, nullam
                        imperdiet lacus nunc quam et vitae. Odio ut magna lectus quam nisl non. Malesuada lectus
                        volutpat. A porttitor quaerat sed, fusce odio, id ac rhoncus, nesciunt eros risus fermentum. Nam
                        blandit vitae eleifend ante ad etiam, rhoncus dolor non faucibus interdum, tempor suspendisse
                        suspendisse, nulla luctus egestas nisl mollis, suspendisse sed. Rutrum sapien porta adipiscing.
                        Egestas nulla, etiam urna, sociosqu scelerisque, sem enim dignissim.
                        Tempus tempor vel condimentum, blandit necessitatibus integer lectus mauris sodales, dui non
                        tincidunt dui tincidunt ligula non. Nunc massa convallis non quisque, senectus cras, etiam
                        tellus facilisis suscipit. Mauris tempor egestas enim ad ullamcorper, lacus lobortis tortor
                        risus amet aliquam, quis nunc pede vel. Adipiscing torquent viverra massa. Volutpat mauris
                        praesent pede non, tortor potenti et arcu quasi est, pede ut dictum, vitae leo posuere lorem
                        aliquam placerat. Molestie quis purus a, massa aliquam placerat potenti eleifend, viverra
                        bibendum vel accumsan ipsum magna.
                        Varius et eu. Nunc ut etiam, tristique volutpat urna quam amet, eget nulla. Egestas est id in,
                        vivamus nullam metus. Tortor vestibulum quam suspendisse urna ipsum turpis, cras turpis eros
                        justo blandit, felis fringilla nisl curae ante sed, in integer, malesuada sed eget rutrum.
                        Aliquam placerat dictum sit justo, amet suspendisse magna libero eu optio mi. Explicabo tempor
                        non nunc egestas, lacus risus, nunc dictumst quisque pharetra, at litora vulputate magna a urna
                        ullamcorper.
                    </div></li>
                <li role="presentation" class="imgList"><img class="imgList"
                                                             src="resources/images/polarBear.png"
                                                             alt="polar bear">
                    <div class="description">Lorem ipsum dolor sit amet, nec dolor vestibulum turpis quis, risus
                        porttitor velit venenatis dictum, ac nibh, consectetuer ac ornare dignissim nullam, nullam
                        imperdiet lacus nunc quam et vitae. Odio ut magna lectus quam nisl non. Malesuada lectus
                        volutpat. A porttitor quaerat sed, fusce odio, id ac rhoncus, nesciunt eros risus fermentum. Nam
                        blandit vitae eleifend ante ad etiam, rhoncus dolor non faucibus interdum, tempor suspendisse
                        suspendisse, nulla luctus egestas nisl mollis, suspendisse sed. Rutrum sapien porta adipiscing.
                        Egestas nulla, etiam urna, sociosqu scelerisque, sem enim dignissim.
                        Tempus tempor vel condimentum, blandit necessitatibus integer lectus mauris sodales, dui non
                        tincidunt dui tincidunt ligula non. Nunc massa convallis non quisque, senectus cras, etiam
                        tellus facilisis suscipit. Mauris tempor egestas enim ad ullamcorper, lacus lobortis tortor
                        risus amet aliquam, quis nunc pede vel. Adipiscing torquent viverra massa. Volutpat mauris
                        praesent pede non, tortor potenti et arcu quasi est, pede ut dictum, vitae leo posuere lorem
                        aliquam placerat. Molestie quis purus a, massa aliquam placerat potenti eleifend, viverra
                        bibendum vel accumsan ipsum magna.
                        Varius et eu. Nunc ut etiam, tristique volutpat urna quam amet, eget nulla. Egestas est id in,
                        vivamus nullam metus. Tortor vestibulum quam suspendisse urna ipsum turpis, cras turpis eros
                        justo blandit, felis fringilla nisl curae ante sed, in integer, malesuada sed eget rutrum.
                        Aliquam placerat dictum sit justo, amet suspendisse magna libero eu optio mi. Explicabo tempor
                        non nunc egestas, lacus risus, nunc dictumst quisque pharetra, at litora vulputate magna a urna
                        ullamcorper.
                    </div></li>
            </ul>
        </div>
    </div>

    <div id="footer">
        <div id="partners">
            <div> Our partners:</div>
            <ul class="nav nav-pills">
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/cocacola.jpg"
                                                                         alt="coca cola"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/timeToEat.jpg"
                                                                         alt="time to eat"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/weaponM.jpg"
                                                                         alt="sponsor"></a></li>
            </ul>

        </div>
        <div id="">
            <ul class="nav nav-pills">
                <li role="presentation" class="footerList"><a href="#"><p>Contact us</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Careers</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Private police</p></a></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>