<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Log In</title>
    <link type="text/css" rel="stylesheet" href="resources/loginStyle.css">
    <link type="text/css" rel="stylesheet" href="resources/homeStyle.css">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!-- Bootstrap -->
    <link href="resources/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/bootstrap-3.3.7/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<body>
<div id="page">
    <div id="header">
        <div id="logo">
            <a href="#">
                <img src="resources/images/logo.jpg" alt="The Analog Specialists"/>
            </a>
        </div>
        <div class="navbarLists">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation" class="footerList"><a href="#">Home</a></li>
                    <li role="presentation" class="footerList"><a href="#">For Sale</a></li>
                    <li role="presentation" class="footerList"><a href="#">Help us</a></li>
                    <li role="presentation" class="footerList"><a href="#">About</a></li>
                    <li role="presentation" class="footerList"><a href="#">Contact</a></li>
                    <!--</ul>-->
                    <!--<ul class="nav nav-pills" id="login">-->
                    <li role="presentation" class="active footerList"><a href="#">Log In</a></li>
                    <li role="presentation" class="footerList"><a href="#">Registration</a></li>

                </ul>

            </div>
            <div class="col-lg-6" id="searchBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class="wrapper">
            <form action="" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
                <hr class="colorgraph"><br>

                <input id="userField" type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
                <input id="passwordField" type="password" class="form-control" name="Password" placeholder="Password" required=""/>

                <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
            </form>
        </div>
    </div>


    <div id="footer">
        <div id="partners">
            <div> Our partners:</div>
            <ul class="nav nav-pills">
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/cocacola.jpg"
                                                                         alt="coca cola"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/timeToEat.jpg"
                                                                         alt="time to eat"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/weaponM.jpg"
                                                                         alt="sponsor"></a></li>
            </ul>

        </div>
        <div id="">
            <ul class="nav nav-pills">
                <li role="presentation" class="footerList"><a href="#"><p>Contact us</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Careers</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Private police</p></a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">


            $("#passwordField").keydown(function () {
                if($("#userField").val().toLowerCase() == "hunter") {
                    if ($("#passwordField").val() == "1111") {
                        alert("1111");
                        //TODO: ajax request -> to loginH page.
                    }
                }
            })
</script>
</body>
</html>