<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link type="text/css" rel="stylesheet" href="resources/registration.css">
    <link type="text/css" rel="stylesheet" href="resources/homeStyle.css">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!-- Bootstrap -->
    <link href="resources/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/bootstrap-3.3.7/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<body>
<div id="page">
    <div id="header">
        <div id="logo">
            <a href="#">
                <img src="resources/images/logo.jpg" alt="The Analog Specialists"/>
            </a>
        </div>
        <div class="navbarLists">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation" class="footerList"><a href="#">Home</a></li>
                    <li role="presentation" class="footerList"><a href="#">For Sale</a></li>
                    <li role="presentation" class="footerList"><a href="#">Help us</a></li>
                    <li role="presentation" class="footerList"><a href="#">About</a></li>
                    <li role="presentation" class="footerList"><a href="#">Contact</a></li>
                    <li role="presentation" class="footerList"><a href="#">Log In</a></li>
                    <li role="presentation" class="active footerList"><a href="#">Registration</a></li>

                </ul>

            </div>
            <div class="col-lg-6" id="searchBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Register Here</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Name</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" placeholder="Insert your Name" class="form-control input-md" required="" type="text">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Phone Number</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" placeholder="Insert your phone number" class="form-control input-md" required="" type="text">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Email</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" placeholder="Insert your Email" class="form-control input-md" required="" type="email">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Password</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" placeholder="Insert your Password" class="form-control input-md" required="" type="password">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Confirm Password</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" placeholder="Confirm your Password" class="form-control input-md" required="" type="password">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"> </label>
                        <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>

    </div>

    <div id="footer">
        <div id="partners">
            <div> Our partners:</div>
            <ul class="nav nav-pills">
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/cocacola.jpg"
                                                                         alt="coca cola"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/timeToEat.jpg"
                                                                         alt="time to eat"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/weaponM.jpg"
                                                                         alt="sponsor"></a></li>
            </ul>

        </div>
        <div id="">
            <ul class="nav nav-pills">
                <li role="presentation" class="footerList"><a href="#"><p>Contact us</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Careers</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Private police</p></a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">


    $("#passwordField").keydown(function () {
        console.log($("#userField").val());
        console.log($("#userField").val().toLowerCase());
        if($("#userField").val().toLowerCase() == "hunter") {
            console.log(true);
            if ($("#passwordField").val() == "1111") {
                alert("1111");
                //TODO: ajax request -> to loginH page.
            }
        }
    })
</script>
</body>
</html>