<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Away!!!!</title>
    <link type="text/css" rel="stylesheet" href="resources/homeStyle.css">
    <link type="text/css" rel="stylesheet" href="resources/textFormForAllQuestions.css">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!-- Bootstrap -->
    <link href="resources/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="resources/bootstrap-3.3.7/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="resources/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<body>
<div id="page">
    <div id="header">
        <div id="logo">
            <a href="#">
                <img src="resources/images/logo.jpg" alt="The Analog Specialists"/>
            </a>
        </div>
        <div class="navbarLists">
            <div>
                <ul class="nav nav-pills">
                    <li role="presentation" class="footerList"><a href="#">Home</a></li>
                    <li role="presentation" class="footerList"><a href="#">For Sale</a></li>
                    <li role="presentation" class="footerList"><a href="#">Help us</a></li>
                    <li role="presentation" class="footerList"><a href="#">About</a></li>
                    <li role="presentation" class="footerList"><a href="#">Contact</a></li>
                    <li role="presentation" class="footerList"><a href="#">Log In</a></li>
                    <li role="presentation" class="footerList"><a href="#">Registration</a></li>

                </ul>

            </div>
            <div class="col-lg-6" id="searchBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div>
            </div>
        </div>
    </div>

    <div id="container">

        <div class="articleTextForm">
            <h1>About</h1>
            <p> We are the best zoo in the world! </p>
        </div>
        <div class="articleTextForm">
            <h1>Contact</h1>
            <p> Call us: 564456156 </p>
        </div>
        <div class="articleTextForm">
            <h1>Help Us</h1>
            <p>We don't have enough money to feed all of the animals. Please, give us some money: </p>
            <div class="" id="payCartSection">
                <div class="input-group">
                    <input id="payCartInput" type="text" class="form-control"
                           placeholder="enter the number of the card">
                    <span class="input-group-btn">
        <button id="payCartBtn" class="btn btn-default" type="button">Confirm number</button>
      </span>
                </div>
            </div>
        </div>
        <div class="articleTextForm">
            <h1>Careers</h1>
            <p>We don't have any opened jobs for YOU!!! GO AWAY!!!!! </p>
        </div>
        <div class="articleTextForm">
            <h1>Private police</h1>
            <p>Don't disturb! No one will know about our deals and no one will not remember you if you are the
                RAT!!!</p>
        </div>


    </div>

    <div id="footer">
        <div id="partners">
            <div> Our partners:</div>
            <ul class="nav nav-pills">
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/cocacola.jpg"
                                                                         alt="coca cola"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/timeToEat.jpg"
                                                                         alt="time to eat"></a></li>
                <li role="presentation" class="imgList"><a href="#"><img class="imgListPartners"
                                                                         src="resources/images/weaponM.jpg"
                                                                         alt="sponsor"></a></li>
            </ul>

        </div>
        <div id="">
            <ul class="nav nav-pills">
                <li role="presentation" class="footerList"><a href="#"><p>Contact us</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Careers</p></a></li>
                <li role="presentation" class="footerList"><a href="#"><p>Private police</p></a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#payCartBtn").click(function () {
        if ($("#payCartInput").val().length == 16) {
            var reg = new RegExp('^\\d+$');
            if (reg.test($("#payCartInput").val())) {
                alert("Spasibo za vashi dengi. Mi zabrali vse. HA-HA-HA");
            }
        }else{
            alert("Oops, we have the problems with this number. Probably you have missed some number.");
        }
    })
</script>
</body>
</html>